body {
  background-color: lightgray;
}

.todo-list {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 50px;
}

button {
  font-size: 20px;
  padding: 5px 10px;
  font-weight: 400;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2px;
  background-color: grey;
  transition: background-color 0.5s;
}
.add-button {
  background-color: green;
}
.remove-button {
  background-color: red;
}
.add-button:hover {
  background-color: darkgreen;
}
.remove-button:hover {
  background-color: darkred;
}
.up-button,
.down-button {
  background-color: grey;
}

input[type="text"] {
  font-size: 17px;
  padding: 5px 10px;
  font-weight: 400;
  color: black;
  border-radius: 5px;
}
ol {
  padding: 0;
}
li {
  font-size: 2rem;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
  max-width: 1000px;
  margin: 20px auto;
}
.text {
  flex: 1;
  font-weight: 600;
}
remove-button,
.up-button,
.down-button {
  padding: 8px 12px;
  font-size: 14px;s
}
